h1 {
    color: darkblue;
}

p {
    font-size: 200%;
    color: blueviolet;
}

li em {
    color: rebeccapurple;
}



a:link {
    color: pink;
}

a:visited {
    color: darkblue;
}

a:hover {
    text-decoration: none;
}