body {
    font-size: 10px;
    background: whitesmoke;
}

a {
    text-decoration: none;
}
.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;


    background: rgb(96, 125, 139);
    color: rgb(228, 241, 247);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 18px;
}

.logo-text {
    background: white;
    text-align: center;
    text-transform: capitalize;
    font-family: Gabriola;
    font-size: 37px;
}

.thumbnail-item {
    display: block;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
}
.thumbnail-image {
    display: block;
    width: 100%;

}

.thumbnail-list {
    list-style: none;
    padding: 0;
}

.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
}

@font-face {
    font-family: 'Gabriola';
    src: url('fonts/Gabriola.ttf');
    src: url('fonts/Gabriola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}