{% extends 'base.html' %}
{% block title %}homepage{% endblock %}
{% block css %}static/styles/pages/index.css{% endblock %}
{% block content %}
<div class="page-main clearfix">
    {% for image in images %}
    <article class="mod">
        <header class="mod-hd">
            <time class="time">{{ image.created_date }}</time>
            <a href="/profile/{{ image.user.id }}" class="avatar">
                <img src="{{ image.user.head_url }}">
            </a>
            <div class="profile-info">
                <a title="{{ image.user.username }}" href="/profile/{{ image.user.id }}">{{ image.user.username }}</a>
            </div>
        </header>
        <div class="mod-bd">
            <div class="img-box">
                <a href="/image/{{ image.id }}">
                    <img src="{{ image.url }}">
                </a>
            </div>
        </div>
        <div class="mod-ft">
            <ul class="discuss-list">
                <li>
                    <h1>
                        <a>jaywhen</a>
                        <span>
                            <span>hi guys</span>
                        </span>
                    </h1>
                </li>
                <li>
                    <a>新垣結衣</a>
                    <span>
                        <span>👍👍👍</span>
                    </span>
                </li>

                <li>
                    <span>
                        <a>房东的猫</a>
                        <span>🧡🧡🧡</span>
                    </span>
                </li>
                <li class="more-discuss">
                    <a>
                        <span>全部</span><span class="">{{ image.comments|length }}</span>
                        <span> 条评论</span>
                    </a>
                </li>
            </ul>
            <section class="discuss-edit">
                <a class="icon-heart"></a>
                <form>
                    <input placeholder="添加评论..." type="text">
                </form>
                <button class="more-info">更多选项</button>
            </section>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}