{% extends 'base.html' %}
{% block title %}Page-detail{% endblock %}
{% block css %}{{ url_for('static', filename = 'styles/pages/detail.css') }}{% endblock %}
{% block content %}
<div class="page-main clearfix">
    <article>
        <div class="pic-wrapper">
            <img src="{{ image.url }}">
        </div>
        <div class="pic-discuss">
            <header class="discuss-hd">
                <a href="/profile/{{ image.user.id }}" class="avatar">
                    <img src="{{ image.user.head_url }}">
                </a>
                <div class="profile-info">
                    <a title="{{ image.user.username }}" href="/profile/{{ image.user.id }}">{{ image.user.username }}</a>
                </div>
            </header>
            <ul class="discuss-list js-discuss-list">
                {% for comment in image.comments %}
                    <li>
                        <a title="{{ comment.user.username }}" href="/profile/{{ comment.user.id }}">{{ comment.user.username }}</a>
                        <span>
                            <span>{{ comment.content }}</span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <section class="discuss-edit">
                <a class="icon-heart-empty"></a>
                <input placeholder="添加评论..." id="jsCmt" type="text">
                <button class="more-info" id="jsSubmit">更多选项</button>
            </section>
        </div>
    </article>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    // 获取当前评论图片的id
    window.imageId = {{ image.id }}
</script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/detail.js"></script>
{% endblock%}