{% extends 'base.html' %}
{% block title %}homepage{% endblock %}
{% block css %}{{ url_for('static', filename = 'styles/pages/profile.css') }}{% endblock %}
{% block content %}
<div class="page-main clearfix">
    <article>
        <header class="profile-detail clearfix">
            <div class="profile-avatar">
                <img src="{{ user.head_url }}">
            </div>
            <div class="profile-content">
                <div class="profile-info-main">
                    <h1 class="name" title="{{ user.username }}">{{ user.username }}</h1>
                    <span class="_jxp6f _e616g" style="display:inline-block;position:relative;">
                        <form method="post" action="/upload/" enctype="multipart/form-data">
                            <button class="btn-success">上传图片</button>
                            <input name="file" type="file" onchange="this.parentNode.submit()" style="opacity:0;position:absolute;top:0;left:0;display:block;width:100%;height:100%;">
                        </form>
                    </span>
                </div>
            </div>
        </header>
        <div class="list-mod">
            <div class="list clearfix js-image-list">
                
            </div>
        </div>
    </article>

</div>

{% endblock %}