{% extends 'base.html' %}
{% block title %}Profile-{{ current_user.username }}{% endblock %}
{% block css %}{{ url_for('static', filename = 'styles/pages/profile.css') }}{% endblock %}
{% block content %}
<div class="page-main clearfix">
    <article>
        <header class="profile-detail clearfix">
            <div class="profile-avatar">
                <img src="{{ user.head_url }}">
            </div>
            <div class="profile-content">
                <div class="profile-info-main">
                    <h1 class="name" title="{{ user.username }}">{{ user.username }}</h1>
                    <span class="_jxp6f _e616g" style="display:inline-block;position:relative;">
                        <form method="post" action="/upload/" enctype="multipart/form-data">
                            <button class="btn-success">上传图片</button>
                            <input name="file" type="file" onchange="this.parentNode.submit()" style="opacity:0;position:absolute;top:0;left:0;display:block;width:100%;height:100%;">
                        </form>
                    </span>
                </div>
            </div>
        </header>
        <div class="list-mod">
            <div class="list clearfix js-image-list">
                {% for image in user.images %}
                    <a class="item" href="/image/{{ image.id }}">
                        <div class="img-box">
                            <img src="{{ image.url }}">
                        </div>
                        <div class="img-mask"></div>
                        <div class="interaction-wrap">
                            <div class="interaction-item"><i class="icon-comment"></i>{{ image.comments|length }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="more-content js-load-more">
                <a class="_oidfu" href="javascript:void(0);">more</a>
            </div>
        </div>
    </article>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    //window.uid = {{user.id}}; 
</script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock%}